.horizontal_card {
  max-width: 26rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  background-color: var(--sidebar-color);
  margin: 0 auto;
  box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 50%);
}

.card_title {
  color: var(--hero-title);
  cursor: pointer;
  padding: 1rem;
  flex-grow: 1;
}

.card_action {
  padding: 0.6rem;
}
