.logo {
  font-family: "Carter One", cursive;
  font-size: 1.4rem;
  color: white;
}

.navbar {
  width: 86%;
  margin: 0 auto;
  padding: 0px 2rem;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 5;
}

.login_btn {
  border: none;
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--retro-color);
  color: white;
  border-radius: 3px;
}

.avatar_sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
