.addToPlayList {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
}

.addToPlayList__modal {
    position: absolute;
    top: 25%;
    border: 0.5px solid transparent;
    background-color: var(--sidebar-color);
    max-width: 240px;
    min-height: 200px;
    max-height: 540px;
    margin: 0px auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.close {
    width: 1.3rem;
    color: var(--hero-title);
    cursor: pointer;
}

.addToPlayList__modalHeading {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.line{
    height: 2px;
    width: 100%;
    background-color: var(--hero-title);
}

.addToPlayList__modalList {
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
    width: 97%;
    margin: 0 auto;
    padding: 6px;
}

.playlist_wrapper{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.playlist_checkbox{
    width: 16px;
    height: 16px;
}

.playlist_name{
    margin-left: 0.8rem;
    color: var(--hero-title);
}

.addToPlaylist__create{
    position: absolute;
    bottom: 10px;
    left: 12px;
    right: 12px;
}

.addToPlaylist__input {
    padding: 8px;
    color: var(--hero-title);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--hero-title);
    margin-bottom: 0.4rem;
}

.create_playlist {
    padding: 4px;
    text-align: center;
    margin: 0;
}