.nav-links {
  list-style-type: none;
}

.auth-container {
  max-width: 325px;
  padding: 1.2rem 1.8rem;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sidebar-color);
  color: white;
}

.textfield,
input[type="password"] {
  width: 100%;
}

.name-container .input-group {
  max-width: 200px;
  width: 50%;
  margin-bottom: 0;
}

.name-container .input-group + .input-group {
  margin-left: 8px;
}

.input-group {
  display: block;
  margin-bottom: 1rem;
}

.btn-primary {
  width: 100%;
  transition: none;
  text-transform: capitalize;
  margin: 1rem 0;
  border-radius: 3px;
  background: var(--retro-color);
}

.forgot-pass {
  margin-left: 1rem;
}

.signup-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}

.signup-link {
  color: var(--hero-title);
  margin-bottom: 2px;
}

.signup-link:hover {
  text-decoration: underline;
}

.video_main_container {
  margin-left: 90px;
  padding-bottom: 1.3rem;
}

.page_title {
  color: var(--hero-title);
}

.present {
  color: var(--retro-color);
}

.liked_container {
  max-width: 40rem;
  max-height: 32rem;
  margin: 0 auto;
  overflow-y: auto;
  border: 2px solid black;
  padding: 0.5rem;
}

.liked_container::-webkit-scrollbar {
  width: 4px;
}

.liked_container::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-color);
  border-radius: 10px;
}

.category_heading {
  color: var(--hero-title);
}

@media only screen and (max-width: 426px) {
  .video_main_container {
    width: 92%;
    margin: 0 auto 0 auto;
    padding-bottom: 5rem;
  }
}
